.container { 
    display: grid;
    place-content: center;
    min-height: 100dvh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    max-width: 500px;
    min-width: 300px;
    width: 90%;
    margin: 0 auto;
    padding: 1.25rem;
    background-color:#ffffff4b;
    border: 1.5px #2c2b2b;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.card-phrase {
    font-size: clamp(1em, 3.2dvw, 1.75em);
}

.card-author {
    font-size: clamp(1em, 2.4dvw, 1.25em);
    color: #940808
}